app/test/
test/csv_files/
test/
private/

*TODO.md

# Ignore all .csv files except demo.csv
*.csv
!demo*.csv

node_modules/
dist/

# Playwright
test-results/
playwright-report/
playwright/.cache/
blob-report/

# Vite & Testing
.vite/
coverage/

# Environment
.env
.env.*

# Misc
.DS_Store

dev-dist/